<% provide(:title, @content["nameRu"]) %>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
</head>
<body>

<div class="content_container">
  <div class="wrapper">

    <div class="wrapper-col-1">
      <img src=<%=@content["posterUrlPreview"] %> alt=<%= @content["nameRu"]%> class="content_img">
    </div>

    <div class="wrapper-col-2">
      <h1 class="title"><%= @content["nameRu"]%> (<%= @content["year"]%>)</h1>
      <h6 class="subtitle"> <%=@content["nameOriginal"]%></h6>
      <p class="description"><%=@content["shortDescription"]%></p>

      <div class="mb-40">
        <a href="https://www.kinopoisk.ru/film/<%=@content["kinopoiskId"]%>/" class="btn content_btn">Смотреть</a>
      </div>

      <h2>О фильме</h2>

      <ul class="params">
        <li><span class="text-muted">Год производства</span> <%= @content["year"]%></li>
        <li><span class="text-muted">Страна</span><%= @content["countries"].map{|v| v.map{|_,v| "#{v}"}}.join(', ')%></li>
        <li><span class="text-muted">Жанр</span>
          <span>
          <%=@content["genres"].map{|v| v.map{|_,v| "#{v}"}}.join(', ')%>
          </span></li>
        <li><span class="text-muted">Слоган</span> <span><%= @content["slogan"]%></span></li>
        <li><span class="text-muted">Время</span> <time><%= @content["filmLength"]%> мин.</time></li>
      </ul>
    </div>

    <div class="wrapper-col-3">
      <span class="rathing-main"><%= @content["ratingKinopoisk"]%></span>
      <span class="rathing-counts">Оценок: <%= @content["ratingKinopoiskVoteCount"]%></span>
    </div>

  </div>
  <div>
    <h2>Описание</h2>
    <h3><%= @content["description"]%></h3>
  </div>
</div>
</body>