<div class="movies">
  <% @movies["films"].each do |film|%>
    <div class="movie">
      <div class="movie__cover-inner">
        <%= button_to(content_path, method: :get, class: "clear-btn", params: {id: film["filmId"] }) do %>
            <img src=<%=film["posterUrlPreview"]%> class="movie__cover" alt=<%=film["nameRu"] %>/>
        <% end %>
      </div>
      <div class="movie__info">
        <div class="movie__title"><%=film["nameRu"] %></div>
        <div class="movie__category"><%=film["genres"].map{|v| v.map{|_,v| "#{v}"}}.join(', ')%></div>
        <% if film["rating"] != "null" %>
          <div class="movie__average movie__average--<%=get_type_from_rate(film["rating"])%>">
           <%= film["rating"]  %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>