<% provide(:title,"Sign up") %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :username, "Логин" %>
      <%= f.text_field :username %>

      <%= f.label :email, "Почта" %>
      <%= f.email_field :email %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Подтвердите пароль"%>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Создать аккаунт", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>